/* 
******************************************
Reset
*****************************************
*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* 
*****************************************
Setup
**************************************** 
*/

/* header{
    height: 80px;
} */

.first_container{
    height: 750px;
    background-color: green;
}

/* 
*****************************************
Common
***************************************** 
*/

body{
    font-family: 'Roboto', sans-serif;
}

/* 
Fare in modo che i link dell' Header e del Footer
ereditino dal contenitore di riferimento (Header/Footer)
il colore bianco senza avere il colore di default del link; proprietà
da utilizzare: color: inherit; **eredita** 
*/

header, footer{
    color:black;
    text-decoration: none;
}

header a, footer a{
    color: inherit;
    text-decoration: inherit;
}

/* 
*****************************************
Common
***************************************** 
*/

.standard_buttons{
    background-color: #0061ff;
    border: none;
    color: white;
    padding:10px;
}



/* ******************* */


/* 
*****************************************
Header
*****************************************
*/

/* Inserimento Header Fisso con position:fixed, width 100% e z-index */
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    z-index: 999;
    background-color: white;
}


ul.menu{
   list-style: none;  /* vedi se metterlo come regola generale */
}

.header_col{
    display:flex;
    align-items: center;
}

.menu{
    display: flex ;
}

.menu a{
    padding: 0 20px 0 30px;
}

.left_h{
    padding-left: 30px;
}

.right_h{
    padding-right: 30px;
}

/* 
*****************************************
Main
***************************************** 
*/

/* forzata questa regola per riuscire a far partire il testo dopo l'header
fisso e non sovrapporlo. Padding-top: 80px; */
main{
    padding-top: 80px;
} 


main .first_container{
    padding: 80px 400px;
    background-color: #b4d0e7;
}


main h1{
    font-size: 70px;
    text-align: center;
}

.first_container section{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro_image{
    width: 800px;
}

.intro_image img{
    width: 100%;
}

.first_container p{
    width: 400px;
}

