/* 
******************************************
Reset
*****************************************
*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* 
*****************************************
Setup
**************************************** 
*/

/* header{
    height: 80px;
} */

.main_slim_container{
    height: 1000px;
    background-color: green;

}


/* 
*****************************************
Common
***************************************** 
*/

body{
    font-family: 'Roboto', sans-serif;
}

/* 
Fare in modo che i link dell' Header e del Footer
ereditino dal contenitore di riferimento (Header/Footer)
il colore bianco senza avere il colore di default del link; proprietà
da utilizzare: color: inherit; **eredita** 
*/

header, .main_first_container a, footer{
    color:black;
    text-decoration: none;
}

header a, footer a{
    color: inherit;
    text-decoration: inherit;
}

/* 
*****************************************
Buttons
***************************************** 
*/

.standard_buttons{
    background-color: #0061ff;
    border: none;
    color: white;
    padding:10px;
    font-family: 'Roboto', sans-serif;
}



/* ******************* */


/* 
*****************************************
Header
*****************************************
*/

/* Inserimento Header Fisso con position:fixed, width 100% e z-index */
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    z-index: 999;
    background-color: white;
}


ul.menu{
   list-style: none;  /* vedi se metterlo come regola generale */
}

.header_col{
    display:flex;
    align-items: center;
}

.menu{
    display: flex ;
}

.menu a{
    padding: 0 20px 0 30px;
}

.left_h{
    padding-left: 30px;
}

.right_h{
    padding-right: 30px;
}

/* 
*****************************************
Main
***************************************** 
*/

/* Main First Container */

/* forzata questa regola per riuscire a far partire il testo dopo l'header
fisso e non sovrapporlo. Padding-top: 120px; */

main .main_first_container{
    padding: 120px 300px 0 300px;
    background-color: #b4d0e7;
}


main h1{
    font-size: 70px;
    margin-bottom: 30px;
    line-height: 100px;
}

.main_first_container section{
    display: flex; 
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.intro_image{
    width: 70%;
}

.intro_image img{
    width: 100%;
}

.intro_content{
    padding-top: 40px;
    width: 30%;
}

.main_first_container button{
    margin: 40px 0;
}


.fa-arrow-down{
    font-size: 40px;
    position:relative;
    top:20px;
}

.intro_image{
    position:relative;
    top:40px;  
}


/* Main Slim Container */

.main_slim_container{
    max-width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}

.main_slim_container h2{
    font-size: 35px;
    margin-bottom: 40px;
}

.subscription{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.subscription > div{
    background-color: white;
    border: 1px solid gray;
    width: 280px;
}

.client{
    height: 50px;
    background-color: orange;
    position: relative;
}

.client > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.plan > div{
    padding: 30px 20px;
}

.type{
    line-height: 40px;
}


/* Selettore avanzato :not(); tutte le scritte presenti nella classe
"subscription" hanno font size "14"; solo l'h3 classe "subscription"
ha font size "25". */

.type h3{
    font-size: 25px;
}

.subscription:not(.type h3)
{
    font-size: 14px;
}
/* 
************************** */

.feature > div{
    padding-bottom: 20px;
}

.feature > div:last-child{
    padding-bottom: 0;
}

.trial > div{
    padding: 30px 0;
}

.plan hr{
    width: 50px;
}

.main_points li{
    padding: 20px 0;
    list-style: none;
}

/* prova con .plan display flex column
.plan{
    display: flex;
    flex-direction: column;
} */