/* 
******************************************
RESET
*****************************************
*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* 
*****************************************
SETUP
**************************************** 
*/

/* header{
    height: 80px;
} */

/* .main_slim_container{
    height: 1000px;
    background-color: green;

} */

/* .info_enterprise_plan{
    background-color: red;
    height: 300px;
} */

/* .main_partners{
    height: 400px; 
    background-color: yellow;
} */


/* 
*****************************************
COMMON
***************************************** 
*/

body{
    font-family: 'Roboto', sans-serif;
}

/* 
Fare in modo che i link dell' Header e del Footer
ereditino dal contenitore di riferimento (Header/Footer)
il colore bianco senza avere il colore di default del link; proprietà
da utilizzare: color: inherit; **eredita** 
*/

header, .main_first_container a, footer{
    color:black;
    text-decoration: none;
}

header a, footer a{
    color: inherit;
    text-decoration: inherit;
}

/* 
*****************************************
BUTTONS
***************************************** 
*/

.standard_buttons{
    background-color: #0061ff;
    border: none;
    color: white;
    padding:10px;
    font-family: 'Roboto', sans-serif;
}



/* ******************* */


/* 
*****************************************
HEADER
*****************************************
*/

/* Inserimento Header Fisso con position:fixed, width 100% e z-index */
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    z-index: 999;
    background-color: white;
}


ul.menu{
   list-style: none;  /* vedi se metterlo come regola generale */
}

.header_col{
    display:flex;
    align-items: center;
}

.menu{
    display: flex ;
}

.menu a{
    padding: 0 20px 0 30px;
}

.left_h{
    padding-left: 30px;
}

.right_h{
    padding-right: 30px;
}

/* 
*****************************************
MAIN
***************************************** 
*/

/* MAIN FIRST CONTAINER */

/* forzata questa regola per riuscire a far partire il testo dopo l'header
fisso e non sovrapporlo. Padding-top: 120px; */

main .main_first_container{
    padding: 120px 300px 0 300px;
    background-color: #b4d0e7;
}


main h1{
    font-size: 70px;
    margin-bottom: 30px;
    line-height: 100px;
}

.main_first_container section{
    display: flex; 
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
}

.intro_image{
    width: 70%;
}

.intro_image img{
    width: 100%;
}

.intro_content{
    padding-top: 40px;
    width: 30%;
}

.main_first_container button{
    margin: 40px 0;
}


.fa-arrow-down{
    font-size: 40px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

.intro_image{
    position:relative;
    top:40px;  
}


/* MAIN SLIM CONTAINER - ABBONAMENTI */

.main_slim_container{
    max-width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}

.main_slim_container h2{
    font-size: 35px;
    margin-bottom: 40px;
}

  .radio_buttons span{
    padding-right: 50px;
}

.subscription{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.subscription > div{
    background-color: white;
    border: 1px solid gray;
    width: 280px;
}

.client{
    height: 50px;
    position: relative;
    border-bottom: 1px solid grey;
}

.client > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.plan > div{
    padding: 30px 20px;
}

.type{
    line-height: 40px;
}


/* Selettore avanzato :not(); tutte le scritte presenti nella classe
"subscription" hanno font size "14"; solo l'h3 classe "subscription"
ha font size "25". */

h3{
    font-size: 25px;
}

.type div{
    color: gray;
}

.subscription:not(.type h3)
{
    font-size: 14px;
}
/* 
************************** */


.feature > div{
    padding-bottom: 20px;
}

.feature div{
    display: flex;
}

.feature > div:last-child{
    padding-bottom: 0;
}

.plan i{
    margin-right: 5px;
}

.trial > div{
    padding: 30px 0;
}

/* forzatura singola per allineare il bottone blu del
Piano Abbonamento Singolo ai bottoni degli altri Piani Abbonamento */
#single_plan_trial{
    padding-top: 48px;
}
/* fine forzatura */

.plan hr{
    width: 50px;
}

.main_points li{
    display: flex;
    padding: 20px 0;
    list-style: none;
}

.plan .fa-check{
    color: blue;
}

.info_enterprise_plan{
    margin-top: 30px;
    border: 1px solid grey;
    position: relative;
}

.info_enterprise_plan h3{
    padding-bottom: 30px;
}

.info_enterprise_plan .info_details{
    width: 75%;
}

.info_enterprise_plan p{
    padding-top: 50px;
}

.info_enterprise_plan button{
    position: absolute;
    top: 95px;
    right: 30px;
}


/* MAIN SLIM CONTAINER - PARTNER */


.main_partners{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}


/* NOTE- Da chiedere: ho dovuto impostare larghezza 200% al contenitore
dell'immagine e 130% al contenitore del contenuto */
.partner_content{
    padding: 40px 40px;
    width: 130%;
}

.partner_image{
    width: 200%;
}
/* fine nota */

.partner_image img{
    width: 100%;
    display: block;
}

.partner_content h3{
    font-size: 25px;
}

.partner_content *{
    margin: 20px 0;
}

.partner_content > button{
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* MAIN SLIM CONTAINER - DROPBOX BUSINESS */

.main_business{
    margin-top: 30px 0;
}

.business_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.business_content{
    width: 250px;
}

.business_content img{
    width: 100%;
}

.business_container h3{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}

.statistics{
    margin: 150px 0;
    max-width: 75%;
}


